body{
   width: 390px;
   height: 844px;

    background: #3B556C;
    border-radius: 450px;
}
.leftree{
    position: fixed;
    
    left: 300px;
    top: 660px;
    z-index: 3;

}

.rightree{
    position: fixed;
    left: 00px;
    top: 780px;
    z-index: 3;
}

.stars{
    
    position: fixed;
    ;
    left: 0%;
    top: 0%;
    z-index: 0;


}
.moon{
    position: fixed;
    left: 270px;
    top: 50px;
    z-index: 2;

}
.treeone{
    position: fixed;
    left: 335px;
    top: 640px;
    z-index: 2;

}
.treetwo{
    position: fixed;
    left: 110px;
    top: 670px;
    z-index: 2;

}
.treetre{
    position: fixed;
    left: 40px;
    top: 650px;
    z-index: 2;


}

.treefor{
    position: fixed;
   
    left: -30px;
    top: 680px;
    z-index: 2;


}

.cloud{
    position: fixed;
   
    left: 0%;
    top:230px;
    z-index: 1;
    
    
    
}

.cloudgren{
    position: fixed;
    left: 0px;
    top: 310px;
    z-index: 0;


}

.cloudbig{
    position: fixed;
    left: 0px;
    top: 215px;
    z-index: 0;
}


.rightre{
    position: fixed;
    left: -150px;
    top: 780px;
    z-index: 2;
}

.conH{
    position: fixed;
    
    width: 247px;
    height: 149px;
    left: 80px;
    top: 180px;

    background: #ffffff;
    border-radius: 30px;
    opacity: 90%;
    z-index: 1;

    
}
.inf{
    position: fixed;
    
    color: rgb(8, 92, 104);
    z-index: 3;
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;

    top: 100px;
}


.ConT{
    position: absolute;
    width: 130px;
    height: 133px;
    left: 80px;
    top: 350px;

    background: #ffffff;
    border-radius: 30px;
    opacity: 90%;
    z-index: 1;
}

.inft{
    position: fixed;
    
    color: rgb(8, 92, 104);
    z-index: 3;
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    left: 110px;
    top: 360px;


    
}

.infcity{
    position: fixed;
    
    color: rgb(226, 191, 36);
    z-index: 3;
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

    top: 230px;
}

.ConD{
    position: fixed;
    width: 108px;
    height: 133px;
    left: 220px;
    top: 350px;
    background: #ffffff;
    border-radius: 30px;
    opacity: 90%;
    z-index: 1;
}

.infD{
    position: fixed;
    
    color: rgb(8, 92, 104);
    z-index: 3;
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    left: 225px;
    top: 350px;
}

.infM{
    position: fixed;
    
    color: rgb(226, 191, 36);
    z-index: 3;
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    left: 270px;
    top: 350px;
}